:root {
    --color-monster: #a8d530;
    --color-tail: #ff4f51;
    --color-horns: #ff4f51;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
   background-color: #ffb64c;
}

.wrapper {
   background-color: #ffffff;
   width: 90vmin;
   padding: 30px 0;
   position: absolute;
   transform: tranlstae(-50%, 50%);
   top: 50%;
   left: 50%;
   border-radius: 10px;
}